<% provide(:title, "Youtube") %>
<h1>Youtube</h1>
<iframe width="560" height="315" src="<%= @micropost %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
