<body class="body-according">

  <h1 class="h1-according">Hover Over the Images</h1>
  <div class="accordion">
  	<ul>
  		<li>
  			<div>
  				<a href="http://geekhub.ck.ua">
  					<h2>GeekHub</h2>
  					<p>Work need not 12 hours, and head!</p>
  				</a>
  			</div>
  		</li>
  		<li>
        <div>
          <a href="http://geekhub.ck.ua">
            <h2>GeekHub</h2>
            <p>Do not worry if not working. If everything always worked, you would not have a job.</p>
          </a>
        </div>
      </li>
  	<li>
        <div>
          <a href="http://geekhub.ck.ua">
            <h2>GeekHub</h2>
            <p>It's not a bug, it's feature.</p>
          </a>
        </div>
      </li>
  	<li>
        <div>
          <a href="http://geekhub.ck.ua">
            <h2>GeekHub</h2>
            <p>Walking the water and developing software from the specification is easy. Just need to freeze both.</p>
          </a>
        </div>
      </li>
  	<li>
        <div>
          <a href="http://geekhub.ck.ua">
            <h2>GeekHub</h2>
            <p>If it didn’t work out right away, call it version 1.0.</p>
          </a>
        </div>
      </li>
  	<li>
        <div>
          <a href="http://geekhub.ck.ua">
            <h2>GeekHub</h2>
            <p>SBad software of one person is a permanent work of another.</p>
          </a>
        </div>
      </li>
  	</ul>
  </div>
</body>
