<% provide(:title, "Help") %>
<h1>Help</h1>
<h3>Do you have a problem with account activation? I show you a magic  </h3<%= link_to image_tag('magic.gif', width: 85, height: 75), root_path %>
<ul>
<li>Open the terminal and enter command "rails c"</li>
<br>
<li>Now enter command "User.last.activate"</li>
<br>
<li>Let's go to write article. Now all be okay</li>
</ul>
