<!DOCTYPE html>
<html lang="en" dir="ltr" class="magic-html">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="magic-body">
    <div class="moon behind">
    </div

    <div class="moon">
    </div>
  </body>
</html>
