<div id="modal_window" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <p class="text-center">
            Go learn Ruby on Rails with GeekHub right now!
            <a href=http://geekhub.ck.ua/courses/#ruby-on-rails>Click me</a>
          </p>
          <a href="http://geekhub.ck.ua/courses/#ruby-on-rails">
            <img src="http://imgur.com/byVDBQs.gif" class="geekhub_image" alt="stomach ache">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
